// .contactMe {
//     // height: 100vh;
//     margin-top: 50px;
//     // background-color: red;
//     .bg1 {
//         // position: absolute;
//         transform: skewY(-2.5deg);
//         margin-top: 5%;
//         margin-bottom: 5%;
//         background-color: rgba(209, 187, 202, 0.22);
//         height: 80%;
//     }
//     .bg2{
//         // position: absolute;
//         transform: skewY(2.5deg);
//         margin-top: 5%;
//         margin-bottom: 5%;
//         background-color: rgba(209, 187, 202, 0.22);
//         height: 80%;
//     }

// }



.contactMe {
    margin: 0; color: #efefef;
    overflow:hidden;
    // position: relative;
    height: 80%;
    // height: 70vh;
    overflow: visible;
    margin-top: 70px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    // margin-top: 200px;
    .heading {
        text-align: center;
        margin-top: 10px;
        background-color: #f2ebf1;
        margin-top: 30px;
        height: 100%;
        box-shadow: 2px 2px #ecd5df;
        padding-bottom: 30px;
        .first {
            font-size: 18px;
            color: #DF337D;
        }
        .second {
            margin-top: 20px;
            font-size: 24px;
            color: #000000;
        }
        .input1, .input2 {
            border-bottom: 1px solid #DF337D;
            width: 14.5%;
            input {
                background-color: #ffffff00;
                border: 0;
                width: 100%
            }
            input:focus {
                background-color: #ffffff00;
                border: 0;
                outline: none;
            }
        }
        .input1::placeholder, .input2::placeholder {
            color: #C3BDBD;
        } 
        .textarea {
            margin-top: 2rem;
            textarea {
                background-color: white;
                border: 1px solid #DF337D;
                width: 53%;
            }
            textarea:focus {
            }
        }
        .sendButtonContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sendButton {
            margin-top: 20px;
            font-size: 16px;
            border: 1px solid white;
            width: 100px;
            text-align: center;
            padding: 10px;
            background-color: #df337d7a;
            cursor: pointer;
            
        }
        .sendButtonContainer :hover {
            background-color: #E0337D;
            // color: white;
            // opacity: 0.7;
        }
        .sendButton :hover {
            // border: 1px solid #df337d;
        }
    }
    .msgBox {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 2rem;
    }
    .row {
        justify-content: space-evenly;
    }
  }
  
.contactMe::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100px;
    width: 50%;
    transform: skewY(-4deg);
    z-index: -1;
    background-color: #f2ebf1;
}

.contactMe::after{
    content: "";
    position: absolute;
    /* top: 0; */
    right: 0;
    height: 100px;
    width: 50%;
    transform: skewY(4deg);
    z-index: -1;
    background-color: #f2ebf1;
}



